<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-content [fullscreen]="true">
  <h1 align="center" size="large">ชำระสินค้า</h1>
  <ion-header collapse="condense">
  </ion-header>
  <ion-header collapse="condense">
  </ion-header>
<ion-card class="1">
  <div align="center">รายละเอียดสินค้า</div><br>
  <div class="1">
    <th><img src="assets/images/WWorkS1.jpg"  align="left" alt="WWorkS1" weight="80"height="80"></th>
  <th>สี : โครเมี่ยม<br>
    ขนาดขอบ : 18<br>
    กว้าง : 9.5<br>
    จำนวน : 1 ชุด
</th><br>
<th><img src="assets/images/SCB.png"  weight="80"height="80"></th>เลขบัญชี : 7043544896<br>
ชื่อ : นายกิตติพล เจะอาลี
  </div>
  <ion-item color="383737" >
    <ion-label position="stacked" >ชื่อผู้โอน</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item color="383737">
    <ion-label position="stacked">วันเวลาที่โอน</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card>

</ion-content>
