<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-card-content>
        <input type="text" id="serch"><ion-icon name="search-outline"></ion-icon></ion-card-content>
        <ion-icon (click)="gotoContactpage()"name="cart-outline" color="Red">cart</ion-icon>
        <ion-icon (click)="gotoContactpage()"name="chatbubbles-outline" color="Red">chat</ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div align="center">  
    <img  src="assets/images/profile.png"  alt="Steering wheel" width="100" height="100">
      <p align="center">Dominic Toretto</p>
  </div>
  <ion-card class="1">
    <div class="1">
    <th align="left"><p class="1" align="left">my order</p> 
    <th align="right"><ion-icon align="right" name="chevron-forward-outline" ></ion-icon></th>

    </div>
  </ion-card>
  <ion-card class="1">
    <div class="1">
    <th align="left"><p class="1" align="left">Set up</p> 
    <th align="right"><ion-icon name="chevron-forward-outline"></ion-icon></th>

    </div>
  </ion-card>
  <ion-card class="1">
    <div class="1">
    <th align="left"><p class="1" align="left">Help</p> 
    <th align="right"><ion-icon name="chevron-forward-outline"></ion-icon></th>
    </div>
  </ion-card>
</ion-content>
