ion-tab-bar {
<<<<<<< HEAD
    --background: #F10E00;
  }

 ion-tab-button {
   --color-selected:  #fff
 }
=======
  --background: #F10E00;
}

ion-tab-button {
 --color-selected:  #fff
}
 
>>>>>>> e994131ebe9ee49f62f238bc5a875df59dd51105
