ion-tab-bar {
    --background: #F10E00;
  }

 ion-tab-button {
   --color-selected:  #fff
 }
<<<<<<< HEAD
 ion-tab-bar {
  --color: #2d2b2b;
}
=======
>>>>>>> 64d7f90d12105036c6dd1705fd2af86d5bde6513
