<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-card>
      <input type="text" name="serch"><ion-icon name="search-outline"></ion-icon></ion-card>
      <ion-icon (click)="gotoContactpage()"name="cart-outline" color="Red">cart</ion-icon>
      <ion-icon (click)="gotoContactpage()"name="chatbubbles-outline" color="Red">chat</ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-card aria-colspan="mid" weight="100" height >
      <div align="center">
        <h1 >WWork S1 </h1>
      <img  src="assets/images/WWorkS1.jpg"  alt="WWorkS1" >
        <p align="left">WWork S1 </p> <p align="right" color="red">40,000 B.</p>
        <p> W WOR K S1 DS021 ขอบ </p><p>15นิ้ว สีHyper Silver ขอบเงา</p>

    </div> 
    
    </ion-card>
    <ion-card aria-colspan="mid" weight="100" height >
      <div align="center">
        <h1 >MS </h1>
      <img  src="assets/images/MS.jpg"  alt="MS">
        <p align="left">MS</p> <p align="right" color="red">40,000 B.</p>
        <p align="left">ประเภท : ปลายคู่ </p>
        <p align="left">แบบ : ปลายท่อแสตนเลส</p>
        <p align="left"> ขนาด กว้าง x ยาว : 5.6 x 8.9</p>

    </div> 
    
    </ion-card>
    <ion-card aria-colspan="mid" weight="100" height >
      <div align="center">
        <h1 >RB26dett </h1>
      <img  src="assets/images/RB26dett.jpg"  alt="RB26dett" >
        <p align="left">RB26dett </p> <p align="right" color="red">250,000 B.</p>
        <p align="left"> แบบ :	6 สูบ DOHC 24 V.</p>
        <p align="left"> แรงอัด	: 8.5:1</p>
        <p align="left"> แรงม้า	: 280/6800</p>
        <p align="left"> แรงบิด	: 340/4400</p>
    </div> 
    
    </ion-card>

  </ion-content>
</ion-content>
