<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col size="3">
          <input type="text" name="serch" size="small">
          <ion-icon  (click)="gotoCart()"fill="clear" color="dark" name="cart-sharp"></ion-icon>
          <ion-icon  (click)="gotoChat()"fill="clear" color="dark"name="chatbubbles-sharp"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center">รายละเอียดการสั่งซื้อ</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notification</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card class="1">
  <div class="1">
    <th><img src="assets/images/WWorkS1.jpg" alt="WWorkS1" weight="80"height="80"></th>
  <th><p class="1">สวัสดีคร้าบบบบ</p>
    <p>aaaa</p>
</th>
<div align="right"><ion-button   (click)="gotoChat()"fill="outline" color="light">ติดต่อผู้ขาย</ion-button><br></div>
<div align="right"><ion-button   (click)="gotoPlian()"fill="outline" color="light">เปลี่ยนที่อยู่</ion-button><br></div>
<div align="right"><ion-button   (click)="gotoCen()"fill="outline" color="light">ยกเลิกการสั่งซื้อ</ion-button><br></div>
  </div>
</ion-card>
<ion-card class="1">
  <div class="1">
    <th><img src="assets/images/WWorkS1.jpg" alt="WWorkS1" weight="80"height="80"></th>
  <th>

    <p>aaaa</p>
</th>
<div align="right"><ion-button  (click)="gotoChat()"fill="outline" color="light">ติดต่อผู้ขาย</ion-button><br></div>
<div align="right"><ion-button  (click)="gotoCen()"fill="outline" color="light">เปลี่ยนที่อยู่</ion-button><br></div>
<div align="right"><ion-button  (click)="gotoCen()"fill="outline" color="light">ยกเลิกการสั่งซื้อ</ion-button><br></div>
  </div>
</ion-card>
</ion-content>
