<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-card-content>
        <input type="text" id="serch"><ion-icon name="search-outline"></ion-icon></ion-card-content>
        <ion-icon (click)="gotoContactpage()"name="cart-outline" color="Red">cart</ion-icon>
        <ion-icon (click)="gotoContactpage1()"name="chatbubbles-outline" color="Red">chat</ion-icon>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notification</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card class="1">
  <div class="1">
    <th><img src="assets/images/WWorkS1.jpg" alt="WWorkS1" weight="80"height="80"></th>
  <th><p class="1">สวัสดีคร้าบบบบ</p>
    <p>aaaa</p>
</th>
  </div>
</ion-card>
</ion-content>
