<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center">เปลี่ยนที่อยู่</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">plian</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card class="1">
  <div class="1">
    <th><img src="assets/images/WWorkS1.jpg" alt="WWorkS1" weight="80"height="80"></th>
  <th><p class="1">สวัสดีคร้าบบบบ</p>
    <p>aaaa</p>
</th>

  </div>
</ion-card>

</ion-content>
