<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 align="center"> เปลี่ยนที่อยู่</h1>
<ion-card class="1">
  <div class="1" align="center">
<input type="text"  name="message" size="large" class="message">
  </div>
</ion-card>
<div align="center">
<ion-button (click)="gotoMyadd()">ยืนยัการเปลี่ยนที่อยู่</ion-button>
</div>
</ion-content>
