<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark" fill="clear"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 align="center">พวงมมาลัย</h1>
  <ion-content class="body" >
    <ion-card  weight="100" height align="center">
      <div align="center">
        <h1 >B.S.D. BBS</h1>
      <img src="assets/images/B.S.D. BBS.jpg" alt="B.S.D. BBS">
       <td align="left"><p align="left">MS                  40,000 B.</p> <p align="right" ></p>
        <p align="left">พวงมาลัย : 3 ก้าน</p>
        <p align="left">รอบวง : 14 นิ้ว</p>
        <p align="left">ลาย : ลายไม้และเคฟล่า</p>
        <p align="left">แบรนด ์: BBS</p>
        <h1 align="right"><ion-icon name="cart-outline" ></ion-icon></h1>
    </div>
    </ion-card>
  </ion-content>
</ion-content>

